
#logo{
    width: 70px;
    height:70px;
    margin-left: 3%;
    border: 0px;
    margin-right: 4%;
    border-radius: 50%  ;
}

#search-bar{
    width: 20vw;
}


#search-button{
    color: white;
}
#links{
    margin-right: 5%;
}
#warning{
    color: red;
    display: none;
    
}
#nav-link{
    margin-right: 20px;
}
.card{
    margin-top: 25px;
    width: 30rem !important;
    height: 20rem !important;
}

